$color-primary: #fa3d67;
$color-secondary: #505a61;
$color-white: #ffffff;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "danger": #ff0d00,
  "success": $color-primary,
);
@import "bootstrap";

$font-family: "Montserrat", sans-serif;
$base-font-size: 16px;

$main-spacing: 20px;

$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1000px,
  lg: 1205px,
  xl: 1600px,
);
